.navbar{
    border-radius: 0px;
}
.navbar-wrapper{
    margin-top: 0px;
}
.showUserMenu{
    display: block !important;
}
.hideUserMenu{
    display: none !important;
}
.navbar-collapse{
    float: right;
}
.navbar-text{
    margin-top: 18px;
}